!!! 5

%html
	%head
		%link{rel: :stylesheet, type: "text/css", href: "http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,600"}
		%link{rel: :stylesheet, type: "text/css", href: "/css/lib/reset.css"}
		%link{rel: :stylesheet, type: "text/css", href: "/css/lib/foundation.min.css"}
		%link{rel: :stylesheet, type: "text/css", href: "/css/main.css"}
		%script{type: "text/javascript", src: "//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"}
		%script{type: "text/javascript", src: "/js/main.js"}
		%script{type: "text/javascript", src: "/js/lib/foundation.min.js"}
		%link{rel: :alternate, type: "application/atom+xml", title: "#{title} - feed", href: "/index.xml"}
		%meta{"http-equiv" => "Content-Type", content: "text/html; charset=UTF-8"}
		%title
			- if @path == 'index'
				guavascript
			- elsif @path.split('/').compact.length == 4
				= "#{title} - guavascript"
			- else
				= "#{@path} - guavascript"
	%body
		%header
			%nav.top-bar
				%ul
					%li.name
						%h1
							%a{href: "/"} m
					%li.toggle-topbar
						%a{href: "#"}
				%section
					%ul.right
						%li.has-dropdown
							%a{href: "#"}
							%ul.dropdown
								%li
									%a{href: "/"}
										home
								%li
									%a{href: "/about"}
										about
								%li
									%a{href: "/archives"}
										archives
								%li
									%a{href: "/projects"}
										projects
								%li
									%a{href: "http://resume.github.com?mchail"}
										résumé
								%li.divider
								%li
									%a{href: "http://github.com/mchail"}
										github
								%li
									%a{href: "http://twitter.com/smchail"}
										twitter
								%li
									%a{href: "http://facebook.com/smchail"}
										facebook
								%li
									%a{href: "http://www.linkedin.com/in/mchail"}
										linkedin
		%section
			= yield
		%footer
			powered by
			%a{href: "http://cloudhead.io/toto"} toto
			and
			%a{href: "http://heroku.com"} heroku

		:javascript
			var disqus_shortname = 'mchail';
			/* * * DON'T EDIT BELOW THIS LINE * * */
			(function () {
					var s = document.createElement('script'); s.async = true;
					s.type = 'text/javascript';
					s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
					(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
			}());

		:javascript
			(function(c,a){var b,d,h,e;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+'//api.mixpanel.com/site_media/js/api/mixpanel.2.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?g=
			a[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.1;window.mixpanel=a})(document,window.mixpanel||[]);
			mixpanel.init("32052a4930aa87c0b3d3d8dad300f46e");
			mixpanel.track('page viewed', {'page name' : document.title, 'url' : window.location.pathname});

		:javascript
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-33397799-1']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
